.topicDetailContainer{
  margin: calc(300vw/75);
  .title{
    padding: calc(160vw/75);
    border-radius: calc(100vw/75);
    background-color: #f0f0f0;
  }
  .authorInfo{
    margin-top: calc(200vw/75);
    display: flex;
    align-items: center;
    >div{
      flex: 1;
      margin-left: calc(150vw/75);
    }
    p{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
    }
    p:nth-of-type(1){
      >span:nth-of-type(2){
        background: linear-gradient(60deg, #FFB199 0%, #FF544F 100%);
        font-size: 12px;
        padding: 0px calc(120vw/75);
        color: #fff;
        border-radius: calc(60vw/75);
      }
    }
    p:nth-of-type(2){

    }
    >img{
      width: calc(800vw/75);
      height: calc(800vw/75);
    }
  }
  .markdown-text{
    margin-top: 5px;
    img{
      margin: auto;
      max-width: 100% !important;
    }
    a{
      display: inline-block;
      word-wrap:break-word;
      max-width: 100%;
      color:#4078c0;
      &:hover{
        color:#4078c0;
      }
    }
    p{
      max-width: 100% !important;
      white-space: normal;
      word-break: break-all;
    }
    li{
      list-style:none;
    }
    code{
    white-space: normal;
    word-break: break-all;
    }
  }
  .commentTitle{
    padding: calc(160vw/75);
  }
  .commentList{
    border-top: 1px solid #e5e5e5;
    margin-top: 5px;
    .commentItem{
      border-bottom: 1px solid #e5e5e5;
      margin-top: 10px;
      .commentInfo{
        display: flex;
        align-items: center;
        img{
          width: calc(800vw/75);
          height: calc(800vw/75);
        }
        p{
          margin-left: calc(200vw/75);
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .commentBottom{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >p{
          width: calc(400vw/75);
          text-align: right;
        }
      }
    }
  }
}
