.mineUserInfo{
  width: 100%;
  height: calc(4000vw/75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .avatar{
    width: calc(1200vw/75);
    height: calc(1200vw/75);
    margin: calc(1200vw/75) auto 0 auto;
  }
  p{
    width: 90%;
    margin: 0 auto calc(100vw/75) auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >span:nth-of-type(2){
      color: #FF544F;
    }
  }
}
.centerContainer{
  height: 100%;
  .userInfoContainer{
    .myTopicContainer{
      .topicItems+.topicItems{
        margin: 10px 0 0 0;
      }
      .topicItems{
        background-color: #fff;
        padding: 10px 0;
        >div{
          width: 90%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        >div:nth-of-type(1){
          font-size: 12px;
          .avatar{
            width: calc(600vw/75);
            height: calc(600vw/75);
            border-radius: 5px;
            margin-right: 10px;
          }
          p{
            display: flex;
            align-items: center;
          }
        }
        >div:nth-of-type(2){

        }
      }
    }
  }
  .noLoginContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .noLoginContent{
      padding: 20px 20px;
      border:1px solid #e5e5e5;
      .weui-cells{
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
      }
      .loginButton{
        margin: 10px auto 0 auto;
        background: linear-gradient(60deg, #FFB199 0%, #FF544F 100%);
        width: 80%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
