.mineUserInfo{
  width: 100%;
  height: calc(4000vw/75);
  background: red;
}
.centerContainer{
  height: 100%;
  .userInfoContainer{

  }
  .noLoginContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .noLoginContent{
      padding: 20px 20px;
      border:1px solid #e5e5e5;
      .weui-cells{
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
      }
      .loginButton{
        margin: 10px auto 0 auto;
        background: linear-gradient(60deg, #FFB199 0%, #FF544F 100%);
        width: 80%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
